

body{
  background-color: wheat;
  color: white;
height: 300px;
}
header{
  background-color: #ab04f2;
  margin-bottom: 2px;
 padding: 20px;
  color: white;
 
}

nav{
background-color:  #cfa3e2f8; ;
}

section{
  height: 200px;
 
margin-bottom: 2px;
}

.section1{
  background-color: #ee065ff8;
}

.section2{
  background-color: #54d1a7;
}

footer{
  height: 100px;
  background-color: midnightblue;
}