:root{
	--escala: 20px;
	--top-primera-fila: calc(var(--escala) * 2);
  --top-segunda-fila: calc(var(--escala) * 6);
  --left-horizontales: calc(var(--escala) * 0.8);
	--left-primera-columna: calc(var(--escala) * -1);
	--right-segunda-columna: 0px;
}

*{
	user-select: none;
}

body{
	background-color: rgb(78, 97, 202);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

#container{
	display: flex;
	background-color: rgb(85, 38, 17);
	padding: 3rem;
	animation-name: glow;
	animation-duration: 500ms;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	animation-timing-function: ease-in-out;
}

.numero{
	position: relative;
	height: calc(var(--escala) * 9);
	width: calc(var(--escala) * 6.25);;
}

.on{
	fill: red;
  box-shadow: inset 0px 0px 15px 2px rgba(255, 0, 0, 0.65);
}

.segmento{
	position: absolute;
	height: var(--escala);
	fill:rgba(243, 120, 120, 0.097)
}

.segmento:nth-child(1){
	left: var(--left-horizontales);
}

.segmento:nth-child(2){
	transform: rotate(90deg);
	right: var(--right-segunda-columna);
	top: var(--top-primera-fila);
}

.segmento:nth-child(3){
	transform: rotate(90deg);
	right: var(--right-segunda-columna);
	top: calc(var(--escala) * 6);
}

.segmento:nth-child(4){
	left: var(--left-horizontales);
	top: calc(var(--escala) * 8);
}

.segmento:nth-child(5){
	transform: rotate(90deg);
	top: var(--top-segunda-fila);
	left: var(--left-primera-columna);
}

.segmento:nth-child(6){
	left: var(--left-horizontales);
	top: calc(var(--escala) * 4 );
}

.segmento:nth-child(7){
	transform: rotate(90deg);
	top: var(--top-primera-fila);
	left: var(--left-primera-columna);
}

.doble_punto{
	position: relative;
	height: var(--escala);
	width: var(--escala);
}

.punto{
	position: absolute;
	background-color: red;
	transform: rotate(45deg);
	height: var(--escala);
	width: var(--escala);
}

.punto:first-child{
	top: calc( var(--escala) * 2 );
	left: calc( var(--escala) * -0.45);
}

.punto:last-child{
	top: calc( var(--escala) * 6 );
	left: calc( var(--escala) * -0.45);
}

@keyframes glow {
	0%{
		box-shadow: 0px 0px 15px 10px rgba(134, 0, 0, 0.65);
	}
	100%{
		box-shadow: 0px 0px 15px 20px rgba(131, 2, 2, 0.65);
	}
}